body{
    background-color:#fffbf7 ;
    /* background-image: url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png'); */
}


h1{
    color: blue;
    text-align: center;
    font-size: 50px;
}
h2{
    color: #46484c;
}
p{
    color: #8b8b8bcc;
    font-family: Verdana;
}
button{
    color: #fff;
    background-color: #025157;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 0;
    font-size: 0;
    margin: 40px 0 20px 20px ;
  }

  li{
      display: inline;
  }

  .header>*{
      display: inline-block;
      font-size: 16px;
      vertical-align: 16px;
      height: 100%;
      line-height: 45%;
           
  }

  .logo{
      width: 15%;
      line-height: 45px;
  }
  .navbar{
      width: 70%;
      text-align: left;
      color: #025157;
      
  }

  .menu{
    /* display: inline; */
     margin-left: 25px;
      margin-right: 25px;
  }

  .actions{
      width: 15%;
      text-align: right;
      font-size: 14px;

  }
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions a {
    color: #67b54b;
  }

  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }

  .publicidad h4 {
    font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
    color: #025157  ;

  }

  .publicidad > p {

    color: #343434  ;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 16px;

  }

  .publicidad > form {
    display: flex;
  }

  .publicidad > form p {
    color: #025157;
    margin-right: 18px;
  }

  .publicidad > form button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .videoPublicidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
  }
  
  .videoPublicidad img {
    width: 120px;
    margin-top: 10px ;
  }

  .fixed-header{
      position: fixed;
      background-color: #fffbf7;  
      top: 0;
      left: 0;
      right: 0;
  }

  /* main {
  margin-top: 285px;
  text-align: center;
} */